@model RS1_Ispit_asp.net_core.ViewModels.RezultatiVM
@{
    ViewData["Title"] = "Rezultati";
}

<h2>Rezultati takmičenja</h2>
<div>
    <h4>Škola domaćin: @Model.Skola</h4>
    <h4>Predmet: @Model.Predmet</h4>
    <h4>Razred: @Model.Razred</h4>
    <h4>Datum: @Model.Datum</h4>
</div>
@if (Model.Zakljucano)
{
    <span>Zaključano</span>
}
else
{
    <a class="btn btn-default" asp-action="Zakljucaj" asp-route-TakmicenjeId="@Model.TakmicenjeId">Zakljucaj</a>
}
<br /><br /><br />
<div id="ajaxDiv" style="border:1px solid black"></div>
<br /><br />
<a class="btn btn-primary" href="/Takmicenje/Dodaj?=@Model.SkolaId">Novo takmicenje</a>

<script>
    $(function () {
        $.get("/Takmicenje/TakmicenjeStavke?=@Model.TakmicenjeId", function (data) {
            $("#ajaxDiv").html(data);
        })
    })
</script>
