@model RS1_Ispit_asp.net_core.ViewModels.TakmicenjePrikazVM
@{
    ViewData["Title"] = "Prikaz";
}

<h2>ŠkolaDomaćin: @Model.SkolaDomacin</h2>
<h2>Razred: @Model.Razred</h2>

<table class="table table-bordered text-center" >
    <thead>
        <tr>
            <th>Takmičenje<br />ID</th>
            <th>Predemt</th>
            <th>Razred</th>
            <th>Datum</th>
            <th>Broj<br />učesnika<br />koji nisu<br />pristupili</th>
            <th>Najbolji ičesnik <br />(Škola | Odjeljenje <br />| Ime i prezime)</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model.row)
        {
            <tr>
                <td>@x.TakmicenjeId</td>
                <td>@x.Predmet</td>
                <td>@x.Razred</td>
                <td>@x.Datum</td>
                <td>@x.BrojUčesnikaKojiNisuPristupili</td>
                <td>@x.SkolaNajUcenika | @x.OdjeljenjeNajUcenika | @x.NajboljiUcenik.</td>
                <td><a asp-action="Rezultati" asp-route-TakmicenjeId="@x.TakmicenjeId">Rezultati</a></td>
            </tr>
        }
    </tbody>
    <br />
</table>
<a asp-action="Dodaj" asp-route-SkolaDomacinId="@Model.SkolaDomacinId" class="btn btn-primary">Dodaj</a>

