@model RS1_Ispit_asp.net_core.ViewModels.PopravniIspitDodajVM
@{
    ViewData["Title"] = "Dodaj";
}

<h3>Dodavanje popravnog ispita</h3>

<form asp-action="Snimi">
    <label>1. Član komisije</label>
    <select asp-for="ClanKomisije1Id" class="form-control" asp-items="@Model.ClanoviKomisije"></select>
    <label>2. Član komisije</label>
    <select asp-for="ClanKomisije2Id" class="form-control" asp-items="@Model.ClanoviKomisije"></select>
    <label>3. Član komisije</label>
    <select asp-for="ClanKomisije3Id" class="form-control" asp-items="@Model.ClanoviKomisije"></select>
    <label>Predmet: </label>
    <select asp-for="PredmetId" asp-items="@Model.Predmeti" class="form-control"></select>
    <label>Datum: </label>
    <input asp-for="Datum" class="form-control" />

    <br />
    <p>Škola: @Model.Skola</p>
    <br />
    <p>Školska godina: @Model.SkolskaGodina</p>
    <br />
    <p>Razred: @Model.Razred</p>
    <br />
    <input type="hidden" asp-for="@Model.SkolskaGodinaId" />
    <input type="hidden" asp-for="@Model.SkolaId" />
    <input type="hidden" asp-for="@Model.Razred" />
    <input type="submit" value="Snimi" class="btn btn-primary" />
</form>