@model RS1_Ispit_asp.net_core.ViewModels.IndexVM
@{
    ViewData["Title"] = "Index";
}
<div id="promjena">
    <form action="Takmicenje/Index">
        <h2>Prikaz takmičenja</h2>
        <br />
        <label>Filter za skole: </label>
        <select id="sel" class="form-control" name="SkolaId" value="@Model.SkolaId">
            @if (Model.SkolaId == 0)
            {
                <option value="0" class="klik" selected></option>

            }
            else
            {
                <option value="0" class="klik" ></option>

            }
            @foreach (var x in Model.Skole)
            {
                @if (Model.SkolaId == int.Parse(x.Value))
                {
                    <option value="@x.Value" class="klik" attr="@x.Value" selected>@x.Text</option>

                }
                else
                {
                    <option value="@x.Value" class="klik" attr="@x.Value">@x.Text</option>

                }
            }
        </select>


    </form>

<br /><br /><br />
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>Skola</th>
            <th>Razred</th>
            <th>Datum</th>
            <th>Predmet</th>
            <th> Najbolji učenik (Škola | Odjeljenje | Ime i prezime) </th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model.rows)
        {
        <tr>
            
                <td>@x.Skola</td>
                <td>@x.Razred</td>
                <td>@x.Datum</td>
                <td>@x.Predmet</td>
                <td>@x.SkolaNajboljeg | @x.OdjeljenjeNajboljeg | @x.NajboljiUcesnik</td>
                <td>
                    <a asp-action="Rezultati" asp-route-TakmicenjeId="@x.TakmicenjeId">Rezultati</a>
                </td>
            

        </tr>
        }
    </tbody>
</table>
<br />
<a class="btn btn-primary" asp-action="Dodaj" asp-route-SkolaId="@Model.SkolaId">Dodaj</a>
</div>
<script>
    function Update() {
        var id = $("#sel").val();   
        
        $.get("/Takmicenje/Index?SkolaId=" + id, function (rezultat, status) {
            $("#promjena").html(rezultat);
        }); 
     
   }
   
    $("#sel").change(function () {
        Update();
    });
    $(document).ready(function () {
       
    });
    
</script>
