@model IEnumerable<RS1_Ispit_asp.net_core.ViewModels.IndexVM>
@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered text-center" >
    <thead>
        <tr>
            <th>Naziv predemta</th>
            <th>
                Akademska
                godina
            </th>
            <th>
                Ime i prezime
                nastavnika


            </th>
            <th>
                Broj održanih
                časova
            </th>
            <th>Broj studenata na predmetu</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model)
        {
            @foreach(var y in x.rows)
            {
                <tr>
                    @if (y.AngazovanId == x.rows.First().AngazovanId)
                    {
                        <td style="text-align:center" rowspan="@x.rows.Count()">@x.NazivPredmeta</td>
                    }
                    <td>@y.AkademskaGodina</td>
                    <td>@y.NastavnikImePrezime</td>
                    <td>@y.BrojOdrzanihCasova</td>
                    <td>@y.BrojStudenataNaPredmetu</td>
                    <td><a asp-action="Prikaz" asp-route-Id="@y.AngazovanId">Odaberi</a></td>
                </tr>
                

            }
        }
    </tbody>
</table>

